:root {
  --primary-color: #c2bbf0;
  --seconary-color: #a9a3d3;
  --default-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Noto Serif", serif;
}

body {
  font-family: var(--default-font-family);
  color: #2b2d42;
}

.hero {
  background-color: var(--primary-color);
  font-family: var(--secondary-font-family);
  padding: 150px 0;
  text-align: center;
}

.hero h1 {
  font-size: 75px;
  font-weight: 600;
  letter-spacing: -5px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 3;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 25px;
  margin: 0;
}

.hero .btn-branding {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 15px;
}

.hero .btn-branding:hover {
  background-color: var(--seconary-color);
  color: white;
}

.picture-overlay {
  background-image:
    linear-gradient(rgba(72, 97, 86, 1), rgba(72, 97, 86, 1)),
    url(./images/IMG_2906.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me {
}
