:root {
  --primary-color: #c2bbf0;
  --seconary-color: #a9a3d3;
  --default-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Noto Serif", serif;
}

body {
  font-family: var(--default-font-family);
  color: #2b2d42;
}

.hero {
  background-color: var(--primary-color);
  font-family: var(--secondary-font-family);
  padding: 150px 0;
  text-align: center;
}

.hero h1 {
  font-size: 75px;
  font-weight: 600;
  letter-spacing: -5px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 3;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 25px;
  margin: 0;
}

.hero .btn-branding {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 15px;
}

.hero .btn-branding:hover {
  background-color: var(--seconary-color);
  color: white;
}

.picture-overlay {
  background-image:
    linear-gradient(rgba(194, 187, 240, 0.4), rgba(194, 187, 240, 0.4)),
    url("../images/IMG_2906.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.about-me h3 {
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: 200;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.about-me h4 {
  color: var(--primary-color);
  font-family: var(--secondary-font-family);
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 0;
  text-transform: uppercase;
}

.about-me i {
  color: #2b2d42;
  font-size: 60px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
